<!-- Розпродаж/різне -->
<section class="section">
    <div class="card-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./symbol-defs.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
        <h2 class="section-name">
            <span class="psevdo-after">Розпродаж</span> Різне
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="card-field">
            {{#each this}}
            <li class="card-item">
                <div class="img-container">
                    <img src="https://s1.eda.ru/StaticContent/Photos/140812180013/140820212258/p_O.jpg" alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./symbol-defs.svg#icon-contured-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./symbol-defs.svg#icon-full-screen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p><span class="old-price">300 грн</span><span class="hot-price">100 грн</span></p>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<!-- Відпочинок і спорт -->
<section class="section">
    <div class="card-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./symbol-defs.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
        <h2 class="section-name">
            Відпочинок і спорт<button type="button" class="show-all">Дивитися всі</button>
        </h2>
        <ul class="card-field">
            {{#each this}}
            <li class="card-item">
                <div class="img-container">
                    <img src="https://s1.eda.ru/StaticContent/Photos/140812180013/140820212258/p_O.jpg" alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./symbol-defs.svg#icon-contured-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./symbol-defs.svg#icon-full-screen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p><span class="old-price">300 грн</span><span class="hot-price">100 грн</span></p>
            </li>
            {{/each}}

        </ul>
    </div>
</section>
<!-- Віддам безкоштовно -->
<section class="section">
    <div class="card-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./symbol-defs.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
        <h2 class="section-name">
            Віддам безкоштовно<button type="button" class="show-all">Дивитися всі</button>
        </h2>
        <ul class="card-field">
            {{#each this}}
            <li class="card-item">
                <div class="img-container">
                    <img src="https://s1.eda.ru/StaticContent/Photos/140812180013/140820212258/p_O.jpg" alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./symbol-defs.svg#icon-contured-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./symbol-defs.svg#icon-full-screen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p><span class="old-price">300 грн</span><span class="hot-price">100 грн</span></p>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<!-- Бізнес та послуги -->
<section class="section">
    <div class="card-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./symbol-defs.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
        <h2 class="section-name">
            Бізнес та послуги<button type="button" class="show-all">Дивитися всі</button>
        </h2>
        <ul class="card-field">
            {{#each this}}
            <li class="card-item">
                <div class="img-container">
                    <img src="https://s1.eda.ru/StaticContent/Photos/140812180013/140820212258/p_O.jpg" alt="tshirt" />
                    <button type="button" class="favorite">
                        <svg width="16px" height="16px" class="favorite-icon">
                            <use href="./symbol-defs.svg#icon-contured-heart"></use>
                        </svg>
                    </button>
                    <button type="button" class="full-screen">
                        <svg width="11px" height="11px" class="full-screen-icon">
                            <use href="./symbol-defs.svg#icon-full-screen"></use>
                        </svg>
                    </button>
                </div>
                <p class="product-title">Майка жіноча чорна</p>
                <p><span class="old-price">300 грн</span><span class="hot-price">100 грн</span></p>
            </li>
            {{/each}}
        </ul>
    </div>
</section>